*%.swp
*.log
*.out
*.zwc
*.zwc.*
*~
.debug
.p10k
.p10k.zsh
.revolver
.zaw
.zaw
.zcalc_history
.zcomp*
.zhistory
.zlogin
.zlogout
.zprezto
.zpreztorc
.zprofile
.zshrc
Xresources-e
allpix
awkprof.out
buildlog
example*
logs.d
typescript
zsticky
