*%.swp
*.log
*.out
*.zwc
*.zwc.*
*~
.revolver
.p10k.zsh
.zcomp*
.zhistory
.zlogin
.zlogout
.zaw
.zprezto
.zpreztorc
.zprofile
.zaw
allpix
typescript
.zshrc
Xresources-e
awkprof.out
buildlog
example*
logs.d
zsticky
