PrintMotd no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAcceptedKeyTypes +ssh-dss
Subsystem sftp /data/data/com.termux/files/usr/libexec/sftp-server
AllowUsers u0_a261
AllowAgentForwarding yes
Compression yes
GatewayPorts yes
UseDNS no
Port 2222
Banner /data/data/com.termux/files/home/.zconf/ssh.d/banner
