PrintMotd no
PasswordAuthentication no
PubkeyAcceptedKeyTypes +ssh-dss
Subsystem sftp /data/data/com.termux/files/usr/libexec/sftp-server
AllowUsers u0_a261
AllowAgentForwarding yes
Compression yes
GatewayPorts yes
UseDNS no
Port 2222
PrintLasrLog yes 
PrintMotd no
Banner /data/dara/com.termux/files/home/.zconf/sshd.d/banner
