#m  _ _____   _                               _                       _
# (_)___ /  | | __ _ _   _  ___ _ __ ___  __| |  _ __ ___   ___   __| | ___  ___
# | | |_ \  | |/ _` | | | |/ _ \ '__/ _ \/ _` | | '_ ` _ \ / _ \ / _` |/ _ \/ __|
# | |___) | | | (_| | |_| |  __/ | |  __/ (_| | | | | | | | (_) | (_| |  __/\__ \
# |_|____/  |_|\__,_|\__, |\___|_|  \___|\__,_| |_| |_| |_|\___/ \__,_|\___||___/
#                    |___/
#                   __ _
#   ___ ___  _ __  / _(_) __ _
#  / __/ _ \| '_ \| |_| |/ _` |
# | (_| (_) | | | |  _| | (_| |
#  \___\___/|_| |_|_| |_|\__, |
#                        |___/
# #
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

#Global
# Modifiers
set $mod Mod4
set $hft Shift
set $ctl Control
set $alt Mod1

# Variables
set $PYTHOMBIN="/home/hector/anaconda3/bin/"
set $STATUSCMD="py3status"
set $BARCONFIG "gvim ~/.config/i3status/config"
set $BARFONT pango:Monoid 10
set $BORDER_FAT 3
set $BORDER_SKINNY 1
set $CLICK "xdotool click --clearmodifiers 2"
set $CONFIGFILE "gvim ~/.config/i3/config"
set $DMENU "i3-dmenu-desktop --dmenu='rofi -dmenu -i -p Run: '"
set $RELOADXRSC "xrdb -merge ~/.Xresources"
set $SCREENSHOTCMD "scrot '%Y%m%d-%H%M%S.jpg' -e 'mv $f ~/Pictures/screenshots'"
set $SHELLCMD "exec rxvt-unicode -e /usr/bin/zsh -c %s"
set $URXVTERM "rxvt-unicode +sb -e /usr/bin/zsh -o login"
set $VIMCONFIG "gvim ~/.zconf/vim.d/vimrc.*"
set $XKILLCMD "xkill"
set $XTERMCMD "uxterm /usr/bin/zsh -ls"
set $XZOOMCMD "killall xzoom ; xzoom"
set $XZOOMKILL "killall -9 xzoom"
set $ZCONFIG "gvim  ~/.zconf/zshenv ~/.zconf/zprofile ~/.zconf/zshrc ~/.zconf/zpreztorc ~/.zconf/zlogin ~/.zconf/zlogout"

# General options
font pango:Monoid 9
floating_maximum_size 1024 x 768
floating_minimum_size 20 x 20
floating_modifier $mod
focus_follows_mouse no
force_display_urgency_hint 2000 ms
force_focus_wrapping yes
hide_edge_borders both
new_float  pixel $BORDER_FAT
new_window pixel $BORDER_SKINNY
no_focus [window_role="pop-up"]
popup_during_fullscreen smart
workspace_auto_back_and_forth yes
workspace_layout default

# Window class specific options
for_window [class="Google-chrome"]                  border none
for_window [class="MotionPro"]     floating enable
for_window [class="Shotwell"]                       border none
for_window [class="^.creenkey"]    floating enable
for_window [class="^URxvt"]                         border pixel  $BORDER_FAT
for_window [class="^UXTerm"]                        border pixel  $BORDER_FAT
for_window [class="^Xkb"]          floating enable
for_window [class="^Xkbv"]         floating enable, border none                 , resize set 148 20  , move position 660 0
for_window [class="^Xmag"]         floating enable, border normal $BORDER_FAT   , resize set 400 400 , move position 635 32
for_window [title="^xzoom"]        floating enable, border pixel  $BORDER_FAT   , resize set 400 400 , move position 635 32
for_window [class="^feh"]          floating enable, border pixel  $BORDER_FAT   , resize set 638 465 , move position 635 32
for_window [class="^vlc$"]         floating enable, border pixel  $BORDER_SKINNY, resize set s40 480 , move absolute 0, 0
for_window [class="^xterm"]                         border pixel  $BORDER_FAT
for_window [class="rofi"]                           border pixel  $BORDER_FAT
for_window [title="^Event Tester"] floating enable
for_window [title="^xfontsel"]     floating enable
for_window [window_role="pop-up"]  floating enable, border pixel $BORDER_SKINNY
# TeamViewer is not a team player :(
for_window [class="^TeamViewer$"]  floating enable, border pixel $BORDER_FAT
for_window [class="^TeamViewer$"   title="Computers & Contacts"] \
                                   floating enable, resize set 240 480

#mode general {
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9

#TODO: figure out why ths doesent work
# bindsym           $mod+F3 exec xdotool mousedown     --clearmodifiers 2
# bindsym --release $mod+F3 exec xdotool click     --clearmodifiers 2
# CLICK AND HOLD pairs for mouse middle button
# bindsym           $alt+button1 exec $HLD_Mid
# bindsym --release $alt+button1 exec $REL_Mid
# #click and hold pair for mouse ctl-ckick middle button
# bindsym           $ctl+button1 exec $HLD_Ctl_Mid
# bindsym --release $ctl+button1 exec $REL_Ctl_Mid

#Frequently accessed keys
bindsym $mod+     a      mode       command
bindsym $mod+$hft+a      mode       command
bindsym $mod+     b      border     toggle
bindsym $mod+$hft+b      border     toggle
bindsym $mod+     f      focus      mode_toggle
bindsym $mod+$hft+f      floating   toggle
bindsym $mod+     p      exec       $SCREENSHOTCMD
bindsym $mod+$hft+p      exec       $SCREENSHOTCMD
bindsym $mod+     s      scratchpad show
bindsym $mod+$hft+s      move       scratchpad
bindsym $mod+     t      exec       $URXVTERM
bindsym $mod+$hft+t      exec       $URXVTERM
bindsym $mod+     w      workspace  back_and_forth
bindsym $mod+$hft+w      workspace  back_and_forth
bindsym $mod+     x      exec       $XTERMCMD
bindsym $mod+$hft+x      exec       $XTERMCMD

bindsym $mod+     F11    layout     toggle split
bindsym $mod+     F12    exec       $XKILLCMD

bindsym $mod+     Down   focus      down
bindsym $mod+     Left   focus      left
bindsym $mod+     Right  focus      right
bindsym $mod+     Up     focus      up

bindsym $mod+$hft+Down   move       down
bindsym $mod+$hft+Left   move       left
bindsym $mod+$hft+Right  move       right
bindsym $mod+$hft+Up     move       up

bindsym $mod+     Tab    workspace  next
bindsym $mod+$hft+Tab    workspace  prev

bindsym $mod+     Return fullscreen toggle
bindsym $mod+     Escape fullscreen toggle
#}

# shifted modes
mode command {
    bindsym b      mode border
    bindsym c      mode config
    bindsym colon  exec i3-input -P 'i3:'   , mode default
    bindsym comma  exec $DMENU              , mode default
    bindsym f      mode changefocus
    bindsym l      mode layout
    bindsym $hft+q kill                     , mode default
    bindsym      m mode mousekeys
    bindsym r      mode resize
    bindsym t      [class="^UXTerm|^UXTerm"] move scratchpad          , mode default
    bindsym $hft+t [class="^UXTerm|^UXTerm"] move workspace current   , mode default
    bindsym w      mode movetoworkspace
    bindsym z      exec $XZOOMCMD           , mode xzoom

    bindsym Escape mode default
    bindsym Return mode default
 }

# mode mousekeys {

#     bindsym           Up    focus up    xdotool

#     bindsym           Down  focus down
#     bindsym           Left  focus left
#     bindsym           Right focus right

#     bindsym      $hft+Up    focus up
#     bindsym      $hft+Down  focus down
#     bindsym      $hft+Left  focus left
#     bindsym      $hft+Right focus right

#     bindsym $mod     +Up    focus up
#     bindsym $mod     +Down  focus down
#     bindsym $mod     +Left  focus left
#     bindsym $mod     +Right focus right

#     bindsym $mod+$hft+Up    focus up
#     bindsym $mod+$hft+Down  focus down
#     bindsym $mod+$hft+Left  focus left
#     bindsym $mod+$hft+Right focus right

#     bindsym $mod+$hft+Space
#     bindsym $mod+$hft+Space
#     bindsym $mod+$hft+Space

#     bindsym Escape mode default
#     bindsym Return mode default
# }

mode config {
    bindsym b      exec     $BARCONFIGV , mode default
    bindsym c      exec     $RELOADXRSC , mode default
    bindsym e      exec     $CONFIGFILE , mode default
    bindsym o      restart              , mode default
    bindsym r      reload               , mode default
    bindsym v      exec     $VIMCONFIG  , mode default
    bindsym x      exec     $XRESOURCES , mode default
    bindsym z      exec     $ZCONFIG    , mode default

    bindsym Escape mode command
    bindsym Return mode default
 }

mode border {
    bindsym 1 border pixel   , mode default
    bindsym 2 border pixel 2 , mode default
    bindsym 3 border pixel 3 , mode default
    bindsym 4 border pixel 4 , mode default
    bindsym 5 border pixel 5 , mode default
    bindsym 0 border none    , mode default
    bindsym n border normal  , mode default

    bindsym b      border toggle
    bindsym $mod+b border toggle

    bindsym Escape mode command
    bindsym Return mode default
}

 mode movetoworkspace {
    bindsym      b   move container to workspace back_and_forth, mode default
    bindsym      Tab move container to workspace next , mode default
    bindsym $hft+Tab move container to workspace prev , mode default

    bindsym      1   move container to workspace 1, mode default
    bindsym      2   move container to workspace 2, mode default
    bindsym      3   move container to workspace 3, mode default
    bindsym      4   move container to workspace 4, mode default
    bindsym      5   move container to workspace 5, mode default
    bindsym      6   move container to workspace 6, mode default
    bindsym      7   move container to workspace 7, mode default
    bindsym      8   move container to workspace 8, mode default
    bindsym      9   move container to workspace 9, mode default

    bindsym Up       focus up
    bindsym Down     focus down
    bindsym Left     focus left
    bindsym Right    focus right

    bindsym Escape mode command
    bindsym Return mode default
 }

 mode changefocus {

    bindsym $hft+Up    focus parent, border pixel $BORDER_FAT, mode default
    bindsym $hft+Down  focus child,  border pixel $BORDER_FAT, mode default

    bindsym Up         focus up
    bindsym Down       focus down
    bindsym Left       focus left
    bindsym Right      focus right

    bindsym h          focus left
    bindsym j          focus down
    bindsym k          focus up
    bindsym l          focus right

    bindsym Escape mode command
    bindsym Return mode default
 }

 mode layout {
    bindsym d     layout   default,      mode default
    bindsym h     layout   splith,       mode default
    bindsym s     layout   stacking,     mode default
    bindsym t     layout   tabbed,       mode default
    bindsym b     border   toggle
    bindsym f     floating toggle,       mode default

    bindsym plus  layout   toggle split
    bindsym space layout   toggle all
    bindsym bar   split h, mode default,
    bindsym minus split v, mode default,

    bindsym $hft+Up    focus parent
    bindsym $hft+Down  focus child

    bindsym      Up    focus up
    bindsym      Down  focus down
    bindsym      Left  focus left
    bindsym      Right focus right

    bindsym h border pixel , title_format "[|] %title", split h, mode default
    bindsym v border pixel , title_format "[-] %title", split v, mode default

    bindsym Escape mode command
    bindsym Return mode default
 }

 mode resize {

    bindsym           Down  resize shrink height   5 px or  1 ppt
    bindsym           Left  resize grow   width    5 px or  1 ppt
    bindsym           Right resize shrink width    5 px or  1 ppt
    bindsym           Up    resize grow   height   5 px or  1 ppt

    bindsym      $hft+Down  resize shrink height  50 px or 10 ppt
    bindsym      $hft+Left  resize grow   width   50 px or 10 ppt
    bindsym      $hft+Right resize shrink width   50 px or 10 ppt
    bindsym      $hft+Up    resize grow   height  50 px or 10 ppt

    bindsym $mod+$hft+Down  resize shrink height 200 px or 20 ppt
    bindsym $mod+$hft+Left  resize grow   width  200 px or 20 ppt
    bindsym $mod+$hft+Right resize shrink width  200 px or 20 ppt
    bindsym $mod+$hft+Up    resize grow   height 200 px or 20 ppt

    bindsym           r     resize set           640 px   480 px
    bindsym      $hft+r     resize set          1024 px   768 px

    bindsym           s     resize set           640 px   640 px
    bindsym      $hft+s     resize set          1024 px  1024 px

    bindsym Escape mode command
    bindsym Return mode default
 }

mode xzoom {

    bindsym z exec "$XZOOMCMD"

    bindsym 2 exec "$XZOOMCMD -mag 2"
    bindsym 3 exec "$XZOOMCMD -mag 3"
    bindsym 4 exec "$XZOOMCMD -mag 4"
    bindsym 5 exec "$XZOOMCMD -mag 5"

    bindsym s [title="^xzoom"]  move scratchpad         , mode default
    bindsym x [title="^xzoom"]  move workspace current  , mode default

    bindsym Escape exec $XZOOMKILL, mode default
    bindsym Return mode default
}


bar {
      id bar-1
      position top
      font $BARFONT
      separator_symbol "/"
      binding_mode_indicator yes
      tray_output primary
      status_command py3status
 }

# bar {
#       id bar-2
#       position bottom
#       mode hide
#       hidden_state hide
#       modifier $mod
#       font $BARFONT
#       separator_symbol "/"
#       tray_output none
#       status_command ~/.config/i3status/bar2-config
#       workspace_buttons no
#       binding_mode_indicator yes
#       # status_command exec  tee --append ~/.config/i4/buffer.json | ~/.config/i3/bar2
#  }

#  vim: set ft=i3 sw=4 tw=0 fdm=syntax et :
